th:nth-child(even){
    background-color: lightcyan;
}
th{
    border: 1px solid whitesmoke;
    padding:25px 25px 25px 30px;
    text-align: center;
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    color: #403D3C;
}
td,tr{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    border-spacing: 2px;
    font-style:ob;
    font-family: 'Courier New', Courier, monospace;
    color: #40403c;
}
td:hover{
background-color: rgb(0, 200, 255);
}
